body{
    background-color: #794820;
}

h1{
    text-align: center;
    background-color: #00025F;
    height: 100px;
    padding: 10px;
    color: #f5bb04;
}

nav{
    display: flex;
    justify-content: space-around;
    border: 1px solid blue;
    padding: 5px;
    background-color: #2c8bce;
}

#shop {
    display: flex;
    justify-content: space-around;
    height: 750px;
    border: 1px solid black;
    background-color: #4263ae;
}

.pkmnCard {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 350px;
    padding: 5px; 
    margin: 5px;
    border: 1px solid black; 
}

img {
    
    height: 400px; 
    margin: 5px;
    padding: 5px; 
}

.cardPrice {
   margin-top: auto;
}